@mixin flex {
    display: flex;
}
@mixin positionAbsolute {
    position: absolute;
}
@mixin fontFamily {
    font-family: "Roboto";
}

.wrapper-button-arrow-back {
    @include positionAbsolute;
    width: 108px;
    height: 24px;
    left: 10px;
    top: 15px;

    img {
        @include positionAbsolute;
        width: 24px;
        height: 24px;
        left: 50px;
        top: 21px;
    }
    button {
        @include positionAbsolute;
        width: 76px;
        height: 21px;
        left: 82px;
        top: 23px;
        font-family: "Karla";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 21px;
        color: #000000;
        background: #ffffff;
    }
}

.character-details {
    img {
        @include positionAbsolute;
        height: 300px;
        width: 300px;
        left: 580px;
        right: 583px;
        top: 76px;
        border: 5px solid #f2f2f7;
        border-radius: 150px;
    }

    h1 {
        @include positionAbsolute;
        width: 500px;
        height: 50px;
        left: 540px;
        top: 392px;
        @include fontFamily;
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 56px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #081f32;
        padding-top: 16px;
    }
}
h2 {
    @include positionAbsolute;
    @include flex;
    align-items: center;
    width: 157px;
    height: 24px;
    left: 673px;
    top: 490px;
    @include fontFamily;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #8e8e93;
}

.character-details-main-wrapper {
    @include flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    @include positionAbsolute;
    width: 413px;
    height: 320px;
    left: 525px;
    top: 562px;

    .character-details-main {
        width: 413px;
        height: 64px;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
        border-bottom: 1px solid rgb(201, 200, 200);

        h3 {
            width: 53px;
            height: 24px;
            left: 16px;
            @include fontFamily;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.15px;
            color: #081f32;
        }

        p {
            height: 20px;
            left: 16px;
            @include fontFamily;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 30px;
            letter-spacing: 0.25px;
            color: #6e798c;
        }
    }
}

@media screen and (max-width: 360px) {
    body {
        position: relative;
        max-width: 360px;
        height: 815px;
        background: #ffffff;
    }
    .wrapper-button-arrow_back {

        img {
            left: 24px;
            top: 23px;
        }
        button {
            left: 56px;
            top: 25px;
            font-size: 16px;
        }
    }

    .character-details {
        img {
            height: 148px;
            max-width: 150px;
            left: 109px;
            right: 109px;
            top: 124px;
        }

        h1 {
            max-width: 318.93px;
            height: 29.53px;
            left: 50px;
            top: 306px;
            font-size: 32px;
            line-height: 38px;
            padding-top: 16px;
        }
    }
    h2 {
        left: 24px;
        top: 370px;
    }

    .character-details-main-wrapper {
        max-width: 312px;
        left: 24px;
        top: 410px;

        .character-details-main {
            max-width: 312px;
            p {
                line-height: 20px;
            }
        }
    }
}
